In [8]:
chart_csv_url = 'https://gist.githubusercontent.com/allieus/7de81753be54c716cb4a19ebf6852c06/raw/6f59975c4b9aec6cacc7c84edce368d957c670cd/%25E1%2584%2586%25E1%2585%25A6%25E1%2586%25AF%25E1%2584%2585%25E1%2585%25A9%25E1%2586%25AB_top100_utf8.csv'

In [9]:
import requests

response = requests.get(chart_csv_url)
csv_str = response.text

In [10]:
with open("멜론_top100_utf8.csv", "wt", encoding="utf8") as f:
    f.write(csv_str)

In [11]:
%ls *.csv

 D 드라이브의 볼륨: 로컬 디스크
 볼륨 일련 번호: CEFE-F70C

 D:\Dev 디렉터리

2018-07-20  오전 10:59             6,998 멜론_top100_utf8.csv
               1개 파일               6,998 바이트
               0개 디렉터리  472,574,840,832 바이트 남음

In [12]:
import pandas as pd

In [16]:
df = pd.read_csv('./멜론_top100_utf8.csv', engine='python', encoding='utf8')
df.index = range(1, 101)
df.index.name = 'rank'
print(df.shape)
df.head()

(100, 5)

,id,album_name,artist_name,like,name
rank,,,,,
1,31131273,SQUARE UP,BLACKPINK,117794,뚜두뚜두 (DDU-DU DDU-DU)
2,31133898,THIS IS US,비투비,79865,너 없인 안 된다
3,31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,211860,FAKE LOVE
4,31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),100398,켜줘 (Light)
5,31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,88135,캥거루 (Kangaroo) (Prod. ZICO)

In [23]:
df['like_만단위'] = (df['like'] // 10000).astype(str) + '만'
print(df.shape)
df.head()

(100, 6)

,id,album_name,artist_name,like,name,like_만단위
rank,,,,,,
1,31131273,SQUARE UP,BLACKPINK,117794,뚜두뚜두 (DDU-DU DDU-DU),11만
2,31133898,THIS IS US,비투비,79865,너 없인 안 된다,7만
3,31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,211860,FAKE LOVE,21만
4,31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),100398,켜줘 (Light),10만
5,31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,88135,캥거루 (Kangaroo) (Prod. ZICO),8만

In [24]:
df[['artist_name', 'like']].head()

                   artist_name    like
rank
1                    BLACKPINK  117794
2                          비투비   79865
3                        방탄소년단  211860
4              Wanna One (워너원)  100398
5     Wanna One (워너원) - 트리플포지션   88135

In [34]:
df.pivot_table('like', 'artist_name', aggfunc='sum').sort_values('like', ascending=False)

                             like
artist_name
방탄소년단                     1969853
Wanna One (워너원)            827292
비투비                        505633
EXO-CBX (첸백시)              431814
멜로망스                       431514
아이유                        263559
iKON                       245733
뉴이스트 W                     238063
SHINee (샤이니)               214266
헤이즈 (Heize)                207298
닐로 (Nilo)                  203871
장덕철                        195973
폴킴                         194743
BLACKPINK                  183527
BIGBANG                    165740
로이킴                        148690
볼빨간사춘기                     145808
Camila Cabello             145493
EXO                        141912
Fitz & The Tantrums        136402
로꼬                         133928
마마무                        133635
모모랜드 (MOMOLAND)            132166
청하                         125862
NU`EST                     122838
WINNER                     112041
HAON                       111776
TWICE (트와이스)               109649
용준형                        109393
길구봉구                       108211
여자친구 (GFRIEND)             104281
이수 (엠씨 더 맥스)               102677
Wanna One (워너원) - 트리플포지션    88135
먼데이 키즈 (Monday Kiz)         85910
펜타곤                         75451
Wanna One (워너원) - 더힐        73873
양다일                         73646
Wanna One (워너원) - 린온미       69263
(여자)아이들                     66110
Crush                       63562
Wanna One (워너원) - 남바완       62122
AOA                         57924
윤건                          55939
벤                           33984
펀치 (Punch)                  24571
서은광                         22258
이민혁                         20739
오반 (OVAN)                   18538
김나영                          3526

In [27]:
df.pivot_table?